doctype html
html
	head
		meta(charset='UTF-8')
		title Robot Hash The Feed
		meta(name='description', content='The Robot Hash API')
		link(href='css/style_feed.css', rel='stylesheet', type='text/css')
	body
		#header
			.top_banner
				h1 Feed
				
				
			.navigation
					ul
						li
							a(href='/') Login
						li
							a(href='/home') Home
						li
							a(href='/feed') Feed
			#page_content
				h2 Post 1 
				p
					| This is supposed to be a twitter post or something of that sort so Zody do your thing!
				
				
				h2 Post 2 
				p
					 | This is supposed to be a twitter post or something of that sort so Zody do your thing!
				
				
				h2 Post 3 
				p
					 | This is supposed to be a twitter post or something of that sort so Zody do your thing!
		#footer
			| FrontEnd: Kael Shuck
			| BackEnd: Zody Woolsey
			
