doctype html
html
  head
    meta(charset='UTF-8')
    title Robot Hash
    meta(name='description', content='The Robot Hash API')
    link(href='style_feed.css', rel='stylesheet', type='text/css')
  body
    #header
      .top_banner
        h1 Feed
        br
        br
      .navigation
        ul
          li
            a(href='#') Login
          li
            a(href='#') Home
          li
            a(href='#') Feed
      #page_content
        h2  Post 1 
        p
          | This is supposed to be a twitter post or something of that sort so Zody do your thing!
        br
        br
        h2  Post 2 
        p
           | This is supposed to be a twitter post or something of that sort so Zody do your thing!
        br
        br
        h2  Post 3 
        p
           | This is supposed to be a twitter post or something of that sort so Zody do your thing!
    #footer
      | Domo arigato, Mr. Roboto
      br
