doctype html
html
	head
		meta(charset='UTF-8')
		title Robot Hash
		meta(name='description', content='The Robot Hash API')
		link(href='css/style.css', rel='stylesheet', type='text/css')
	body
		#wrapper
			#header
				.top_banner
					h1 RoboHash
					p
						| Presenting RoboHash and Twitter #[em combined]. It's awe inspiring. We know.
				.navigation
					ul
						li
							a(href='/') Login
						li
							a(href='/home') Home
						li
							a(href='/feed') Feed
			#page_content
				.right_section
					.common_content
						h2 RoboHash
						hr
						p.
							Using our website allows you to leverage the incredibly powerful, dynamic, and innovative RoboHash API. It sends algorithmically generated pictures of robots.
					.top_content
						.column_one
							h2 Dynamically Generated
							p.
							Based on a highly advanced and dynamic algorithm RoboHash will attempt to send you a robot perfectly suited for the text you provide.
						.column_two.border_left
							h2 Life Changing
							p.
								RoboHash reviewers are saying "Life Changing", "Saved my marriage", "The 8th Wonder of the World"
				.clear
				#footer.
					FrontEnd: Kael Shuck
					BackEnd: Zody Woolsey