doctype html
html
  head
    meta(charset='UTF-8')
    title Robot Hash
    meta(name='description', content='The Robot Hash API')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper
      #header
        .top_banner
          h1 Robot Hash
          br
          br
          p
            | Presenting Robot Hash and Twitter 
            em  combined.
            |  It's awe inspiring. We know.
        .navigation
          ul
            li
              a(href='#') Login
            li
              a(href='#') Home
            li
              a(href='#') Feed
      #page_content
        .right_section
          .common_content
            h2 PlaceHolder
            hr
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
              | Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              | penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
              | quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
              | consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
              | vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
              | vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
              | tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
              | eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
              | eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat
              | a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
              | rutrum. Aenean imperdiet.
          .top_content
            .column_one
              h2 PlaceHolder2
              p
                | Etiam ultricies nisi vel augue. Curabitur ullamcorper
                | ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                | eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                | sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
                | hendrerit id, lorem. Maecenas nec odio et ant
              br
              p
            .column_two.border_left
              h2 PlaceHolder3
              p
                | Etiam ultricies nisi vel augue. Curabitur ullamcorper
                | ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                | eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                | sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
                | hendrerit id, lorem. Maecenas nec odio et ant
              br
              p
        .clear
        #footer
          | Domo arigato, Mr. Roboto
          br