doctype html
html
	head
		meta(charset='UTF-8')
		title Robot Hash Login
		meta(name='description', content='The Robot Hash API')
		link(href='css/style_login.css', rel='stylesheet', type='text/css')
		script(type='text/javascript',src='js/script.js',defer)
	body
		#userPanel
			div
				p #{username}
		#header
			.top_banner
				h1 Login
			.navigation
					ul
						li
							a(href='/') Home
						li
							a(href='/feed') Feed
			#page_content
				img(src='http://robohash.org/example', alt='robot', id='roboImage')
				#textbox
					input(disabled='true', id='roboText') 
					p
						| Welcome to the Login page! Please login using the button on the top left of the screen.
						|  You're about to go on a journey through the unfathomable depths of the RoboHash API. Once logged in we can guarantee* life changing experiences!
					p
						| You won't regret it.
				#about
					h2 About
					p.
						The Login page allows you to login through Twitter for your (and our) convenience. Please Login to get access to all of the features of the Website otherwise we can't give you those life changing experiences we guaranteed above.
			#footer
				p FrontEnd: Kael Shuck
				p BackEnd: Zody Woolsey
				
