doctype html
html
	head
		meta(charset='UTF-8')
		title Robot Hash Login
		meta(name='description', content='The Robot Hash API')
		link(href='css/style_login.css', rel='stylesheet', type='text/css')
	body
		#header
			.top_banner
				h1 Login
				
				
			.navigation
					ul
						li
							a(href='/') Login
						li
							a(href='/home') Home
						li
							a(href='/feed') Feed
			#page_content
				img(src='media/gears.png', alt='robot')
				#textbox
					h2 Box 
					p.
						Welcome to the Login page! Please click the button above the Box to use our website. You're about to go on a journey through the unfathomable depths of the RoboHash API. Once logged in we can guarantee* life changing experiences!
						You won't regret it.
				#about
					h2 About
					p.
						The Login page allows you to login through Twitter for your (and our) convenience. Please Login to get access to all of the features of the Website otherwise we can't give you those life changing experiences we guaranteed above.
			#footer
				| FrontEnd: Kael Shuck
				| BackEnd: Zody Woolsey
				
